@import "bootstrap-sprockets";
@import "bootstrap";

/* VARIABLES, MIXINS, ETC. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Universal */
.navbar {
  border-radius:0;
  margin-bottom:0;
}

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  
  h1{
    margin-bottom: 10px;
  }
}

.jumbotron {
  background-image: asset-url("blogging.jpg");
  background-size: cover;
  background-position: center;
  height: 95.5vh;
  padding-top: 20vh;
}

.jumbotron h1 {
  font-weight: bold;
}

.container {
  padding: 0;
  margin: 0, auto, 0, auto;
}

.jumbotron .container{
  background-color: rgba(255,255,255,.75);
  border-radius: 1em;
  height: 30vh;
  min-height: 180px;
}

.jumbotron .container .btn-primary{
  color: #333;
  background-color: transparent;
  border: 2px solid #333;
  transition: background-color .5s ease-out, color .5s ease-out;
  
  &:hover, &:active {
    color: #fff;
    background-color: #333;
    transition: background-color .5s ease-in, color .5s ease-in;
  }
}

.alert {
  margin-top:20px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

#art_title {
  margin-bottom: 10px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

#art_auth {
  margin-top: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
  
  &:hover {
    color: $gray-light;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding: 5px 15px 0 15px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  
  a {
    color: $gray;
    
    &:hover {
      color: $gray-darker;
    }
  }
  
  small {
    float: left;
  }
  
  ul {
    float: right;
    list-style: none;
    
    li {
      float: left;
      margin-left: 15px;
    }
  }
}